.card {
    display: flex;
    flex-direction: column;
    background: #e1ecf0;
    width: 350px;
    height: 500px;
    padding: 10px;
    margin: 10px;
    border: 2px #e5e4e7 solid;
    border-radius: 8px;
}

.img {
    max-width: 95%;
    max-height: 95%;
}

.body {

}

.name {

}

.category {

}

.description {

}

.link {

}

.link:hover {

}